<div class="storage-container">
    <div class="header">
        <h1>Task</h1>
        <div class="search-bar">
            <input type="text" placeholder="Search..." />
        </div>
        <button class="upload-button" [routerLink]="['/new-list']">+ Add New List </button>
    </div>

    <div class="content">
        <div class="sidebar">
            <ul *ngFor="let list of lists" [routerLink]="['/lists', list._id ]">
                <!-- <li class="active">Dashboard</li> -->
                <li>{{ list.title }}</li>
                <!-- <li>Documents</li>
                <li>Images</li>
                <li>Video, Audio</li>
                <li>Others</li>
                <a *ngFor="let list of lists" [routerLink]="['/lists', list._id ]">
                    <h2>{{ list.title }}</h2>
                </a> -->
            </ul>
        </div>

        <div class="main-content">
            <div class="file-section">
                <div class="file-grid" *ngFor="let task of tasks">
                    <div class="file-card">
                        <div class="file-icon">📄</div>
                        <div class="file-info">
                            <a>
                                <span class="file-name" (click)="onTaskClick(task)" [ngClass]="{ 'completed ': task.completed }">{{ task.title }}</span>
                                <span class="file-description">{{ task.description || 'No description' }}</span>
                                <span class="status">{{ task?.completed ? 'Completed' : 'Pending' }}</span>
                                <span class="file-date">{{ task?.createdAt | date:'short' }}</span>
                            </a>
                        </div>
                    </div>

                    <!-- Add more file cards as needed -->
                </div>
            </div>

        
            <button class="circle-add-button button is-primary" routerLink="./new-task">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="white">
                    <path d="M12 5v14m-7-7h14" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
            </button>
            <!-- Add more sections for Video, Audio, Others, etc. -->
        </div>
    </div>
</div>